<p id="notice"><%= notice %></p>

<h1>Listing Apis</h1>

<table>
  <thead>
    <tr>
      <th>Uripath</th>
      <th>Filepath</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apis.each do |api| %>
      <tr>
        <td><%= api.uripath %></td>
        <td><%= api.filepath %></td>
        <td><%= link_to 'Show', api %></td>
        <td><%= link_to 'Edit', edit_dev_api_path(api) %></td>
        <td><%= link_to 'Destroy', api, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api', new_dev_api_path %>
