<p id="notice"><%= notice %></p>

<p>
  <strong>Uripath:</strong>
  <%= @api.uripath %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @api.filepath %>
</p>

<%= link_to 'Edit', edit_dev_api_path(@api) %> |
<%= link_to 'Back', dev_apis_path %>
